// Names
$white: #fff;
$black: #000;
$primary-blue : #053354;
$main-background : #E2EEFF;
$blue : #0050BF;
$grey : #C4C4C4;



$lightGreen: #d3fff7;
$green: #0bc29f;
$lightGold: #fff4d6;
$gold: #f0bc19;
$yellow: #ffd600;
$pink: #e692ee;
$red: #e33668;


//theme colors:
$primary-text : #84859E;
$action-blue  : #367BEE;
$secondary-text : #27272E;
$tertiory-text : #425466;

// Color Shades
$Blue-Primary-180: #367BEE;
$Blue-Primary-170: #4285F4;
$Blue-Primary-160: #49A4E2;
$Blue-Primary-150: #469dd9;
$Blue-Primary-140: #0C94E5;
$Blue-Primary-130:#20A4F3; 
$Blue-Primary-120: #076FEC;
$Blue-Primary-110: #1f7bee;
$Blue-Primary-100: #1F74D9;
$Blue-Primary-90: #4c97f1;
$Blue-Primary-80: #4A90E2;
$Blue-Primary-70: #4ea8f2;
$Blue-Primary-60: #8AC6FF;
$Blue-Primary-40: #A5CFFF;
$Blue-Primary-20: #C8DFF9;
$Blue-Primary-10: #ecf8ff;
$Blue-Primary-11: #4183c4;

$Blue-Secondary-100: #1F2A55;
$Blue-Secondary-80: #354274;
$Blue-Secondary-60: #495274;
$Blue-Secondary-40: #777B8C;
$Blue-Primary-20: #A3ABC6;
$Blue-Secondary-120: #0E48AA;
$Green-Secondary-120:  #16C150;
$Green-Secondary-110:  #16C172;
$Green-Secondary-100: #0BC29F;
$Green-Secondary-95: #22cfc1;
$Green-Secondary-90: #18e3bd;
$Green-Secondary-80: #50E3C2;
$Green-Secondary-50:#DFFFF0;
$Green-Secondary-20: #B9FFF1;

$Orange-Primary-100: #f5a623;

$Yellow-Secondary-110:  #FFB946;;
$Yellow-Secondary-100: #F3B607;
$Yellow-Secondary-90: #ffc628;
$Yellow-Secondary-80: #f4b607;
$Yellow-Secondary-70: #F8B84E;
$Yellow-Secondary-65:#F2994A;
$Yellow-Secondary-60: #F8AA3A;
$Yellow-Secondary-55: #F2C94C;
$Yellow-Secondary-50: #FFFAEF;

$Pink-Secondary-120: #ff5d71;
$Pink-Secondary-100: #ff8094;
$Pink-Secondary-60:#ff8897;
$Pink-Secondary-80: #ff8ea0;

$white-1 : #F6F6F6;
// Roles
$primary: $white;
$secondary: $black;
$headingBlack: #1f2a55;
$textBlack: #373737;
$labelColor: $headingBlack;
$buttonBlue: #076fec;
$activeYellow: #ffcf3a;
$linkBlue: #ade1ff;
// $primaryBlue: #158ddc;
$primaryBlue: #367BEE;
$Blue2: #a3abc6;
$Blue3: #344689;
$Blue4: #252F3E;
$lightGray: #e2ebef;
$lightGray-2:  #E5E5E5;
$Blue4: #1f74d9;
$Blue5: #F2F7FF;

$NavbarBlue: #2b91ed;
$errorRed: #C60C0C;
$labelColor: #A4A4A4;
$red-color-1:#EB5757;
//heading
$primary-heading: #0E48AA;


//Main App Color Vars
$bg-main-color: #fbfbfb;
$light-grey-color: #626262;
$dark-grey-color-1: #A8A8A8;
$dark-grey-color-2: #4F4F4F;
$dark-grey-color-3: #818181;
$blue-common-color: #158ddc;
$blue-border-color: #158ddc;
$light-grey-color-2: #b8c2cc;
// $light-grey-color-3: #B3B3B3;
$light-grey-color-3: #84859E;
$light-grey-color-4: #EFF2F5;
$light-grey-color-5:  #DCDCDC;
$light-grey-color-6:  #6F6F6F;
$light-text-color: #565656;
$light-text-color2:#84859E;
$light-grey-color-1:rgb(207, 207, 207);
$light-grey-color-8:#F7F8FA;
$light-grey-color-9: #F7F7F7;
$light-grey-color-10:#f8f8f8;
$light-grey-color-11:#D7D7D7;
$light-grey-color-12:#EFEFEF;
$light-grey-color-13:#C4C4C4;
$light-grey-color-14:#E0E0E0;
$light-grey-color-15:#4C4D5F;
$light-grey-color-17:#BDBDBD;
$light-grey-color-16:#F2F2F2;
$light-grey-color-18:#ECF1F4;

//Industry Colors
$dark-grey-color: #474747;
///Background Colors 
// warning color
$light-orange-color-1:#FAAD14;
//active color:
$active-green-color-1: #14B269;
$internal-black: #353535;

$input-border-blue: $action-blue ;
$input-label-color: #B3B3B3;
$input-border: #BDBDBD;
$grey-card-bg: #f8f8f8;
$bg-color-2 :  rgba(22, 193, 80, 0.1);
