// *** Base ***
@import './colors';
@import './vars'; 
@mixin centreAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin spacedBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}